.icon {
  font-size: large;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.icon-false {
  color: rgba(255, 0, 0, 0.637);
}
.icon-true {
  color: green;
}

.icon-tertiary {
  color: #4f46e5;
}

ol {
  list-style: none;
  counter-reset: steps;
}

ol li {
  counter-increment: steps;
}

ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  background: #4f46e5;
  color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.5em;
}

li.sky::before{
  background:#0284c7;
}